/* ========= BREAKPOINTS ========= */
/* For Small Devices */
@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .button {
        padding: 0.95rem 1.8rem;
    }

    .card_title {
        font-size: 1.3rem;
    }

    .card_button {
        font-size: var(--small-font-size);
        justify-content: center;
    }
}

/* For Medium Devices */
@media screen and (min-width: 576px) {
    .card {
        width: 328px;
        height: auto;

        &_container {
            justify-content: center;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 986px) {
    .button {
        padding: 0.95rem 2.8rem;
    }
    .card {
        width: 564px;
        height: auto;
        grid-template-columns: repeat(2, 1fr);

        &_data {
            gap: 1.2rem
        }

        &_image_mobile {
            display: none;
        }

        &_image_desktop {
            display: block;
        }

        &_title,
        &_price {
            font-size: 2rem;
        }

        &_title {
            line-height: 1;
        }

        &_description {
            font-size: .87rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}
