/* ========= BASE ========= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-family: var(--primary-font);
  color: var(--very-dark-blue);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========= BUTTONS ========= */
.button {
  display: inline-block;
  background-color: var(--dark-cyan);
  color: var(--white);
  padding: 0.95rem 3.8rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}
.button:hover {
  cursor: pointer;
  background-color: var(--very-dark-blue);
}

/* ========= FONT ========= */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Bold.woff2") format("woff2"), url("../fonts/Fraunces-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* ========= VARIABLES CSS ========= */
:root {
  /* ========= COLORS ========= */
  /* ========= Primary ========= */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* ========= Neutral ========= */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  /* ========= FONT and TYPOGRAPHY ========= */
  --primary-font: "Montserrat";
  --secondary-font: "Fraunces";
  --normal-font-size: 14px;
  --small-font-size: 12px;
  /* ========= Font Weight ========= */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: bold;
  /* ========= Margenes ========= */
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 2.5rem;
  --mb-2: 2rem;
}

/* ========= LAYOUT ========= */
.section {
  padding: 4.5rem 0 5rem;
}

/* ========= LAYOUT ========= */
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
  margin-top: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ========= CARD ========= */
.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  top: 110px;
}
.card_data {
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card_product {
  color: var(--dark-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: var(--small-font-size);
}
.card_title {
  font-family: var(--secondary-font);
  font-size: 1.7rem;
  font-weight: var(--font-bold);
}
.card_title:hover {
  cursor: pointer;
  color: var(--dark-cyan);
}
.card_description {
  color: var(--dark-grayish-blue);
  font-size: var(--small-font-size);
  line-height: 1.6;
}
.card_description:hover {
  cursor: pointer;
  color: var(--very-dark-blue);
}
.card_price_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card_price {
  font-family: var(--secondary-font);
  color: var(--dark-cyan);
}
.card_price:hover {
  cursor: pointer;
  color: var(--very-dark-blue);
}
.card_price_old {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  font-size: var(--small-font-size);
}
.card_button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* ========= BREAKPOINTS ========= */
/* For Small Devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  .button {
    padding: 0.95rem 1.8rem;
  }
  .card_title {
    font-size: 1.3rem;
  }
  .card_button {
    font-size: var(--small-font-size);
    justify-content: center;
  }
}
/* For Medium Devices */
@media screen and (min-width: 576px) {
  .card {
    width: 328px;
    height: auto;
    left: 80px;
  }
}
@media screen and (min-width: 767px) {
  .card {
    left: 180px;
  }
  .card_button {
    justify-content: center;
  }
}
/* For Large Devices */
@media screen and (min-width: 986px) {
  .card {
    width: 65%;
    height: auto;
    left: 140px;
    top: 180px;
    flex-direction: row;
  }
  .card_image {
    width: 300px;
    height: auto;
  }
  .card_title {
    max-width: 11rem;
  }
  .card_description {
    font-size: var(--normal-font-size);
    max-width: 15rem;
  }
  .button {
    padding: 0.95rem 2.8rem;
  }
}
@media screen and (min-width: 1440px) {
  .card {
    width: 60%;
    left: 370px;
  }
}